/* Todas las cabeceras del mismo color */
th,
.col-alumno,
.col-final {
  background-color: var(--p-blue-50); /* mismo tono suave */
  text-align: center;
  vertical-align: middle;
}


/* Notas */
td.nota {
  text-align: center;
  vertical-align: middle;
}

/* Cabeceras */
.col-alumno,
.col-final,
.exam-header,
.practico-sub {
  background-color: var(--p-blue-50);
  text-align: center;
  vertical-align: middle;
}

/* Celda de nota */
td.nota {
  text-align: center;
  vertical-align: middle;
}

/* Input de nota más chico */
.nota-input {
  text-align: center;
  width: 3rem !important;   /* más chico (antes 6rem) */
  height: 2rem;
  font-size: 0.9rem;
  margin: 0 auto;           /* centrado en la celda */
}