services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: SIAD
      POSTGRES_USER: siad_admin
      POSTGRES_PASSWORD: 12345SIAAD*
    ports:
      - "5432:5432"
    # volumes:
      # - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -h 127.0.0.1 -p 5432 -U $${POSTGRES_USER} -d $${POSTGRES_DB}",
        ]
      interval: 5s
      timeout: 5s
      retries: 12
      start_period: 15s
    networks:
      - back-db

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: siaade-api
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env.qa
    networks:
      - back-db

  front:
    build:
      context: ./front
      dockerfile: Dockerfile
      args:
        ANGULAR_CONFIGURATION: qa
    container_name: siaade-front
    restart: unless-stopped
    ports:
      - "4000:4000"
    depends_on:
      api:
        condition: service_started

volumes:
  postgres_data:

networks:
  back-db:
