<div>
  <p>Estudiante: {{user()?.name}}</p>
  <p>Documento Nº: {{user()?.cuil}}</p>
</div>

<div *ngIf="loading(); else showTable">Cargando datos...</div>
<ng-template #showTable>
  <div class="flex flex-column gap-4">
    <ng-container *ngFor="let year of subjectsByYear() | keyvalue">
      <h4 class="mt-4">{{ year.key }}</h4>

      <p-table
        [value]="year.value"
        [responsiveLayout]="'scroll'"
        class="shadow-2"
        stripedRows
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Materia</th>
            <th>Año</th>
            <th>Curso</th>
            <th>Estado</th>
            <th>Examen</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{ row.subjectName }}</td>
            <td>{{ row.year }}</td>
            <td>{{ row.division }}</td>
            <td>
              <p-tag
                [value]="row.condition"
                [severity]="getSeverity(row.condition)"
              />
            </td>
            <td>{{ row.examInfo }}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>
</ng-template>
