<div class="m-w-custom px-3 md:px-0">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

  <div
    class="surface-card shadow-2 border-round p-4 mb-4 flex flex-column md:flex-row md:justify-content-between md:align-items-center gap-3"
  >
    <div>
      <h2 class="mb-2">Gestión de Materias</h2>
      <p>Gestiona las materias, alumnos y sus comisiones.</p>
    </div>

    <div class="flex align-items-center justify-content-end w-full md:w-auto">
      <div class="flex align-items-center gap-2" *ngIf="isTeacher">
        <label class="text-color-secondary font-medium">Año:</label>

        <p-select
          [options]="yearFilterOptions"
          optionLabel="label"
          optionValue="value"
          [ngModel]="selectedYear()"
          placeholder="Todos los años"
          (onChange)="fetchSubjects({ year: $event.value })"
          style="min-width: 12rem"
        ></p-select>
      </div>

      <p-button
        *ngIf="!isTeacher"
        (onClick)="goToCareerInfo()"
        icon="pi pi-info-circle"
        severity="secondary"
        label="Información de la carrera"
      ></p-button>
    </div>
  </div>

  <div class="surface-card border-round p-1 mt-4">
    <app-subjects-table></app-subjects-table>
  </div>
</div>
