:host {
  display: block;
}

.center {
  display: grid;
  place-items: center;
  height: 220px;
}

.error {
  color: #b91c1c;
  margin: 0.5rem 0;
}

.table-container {
  margin-top: 1rem;
}

.note-cell {
  text-align: center;
}

.final-cell {
  text-align: center;
  font-weight: 600;
}

.nota-aprobada {
  color: #0ea5e9;
}

.nota-promocionada {
  color: #16a34a;
}

.nota-desaprobada {
  color: #dc2626;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #f5f5f5;
  text-align: center;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
}

.p-datatable .p-datatable-tbody > tr > td.alumno-cell {
  text-align: left;
}
