<div class="h-screen flex flex-column">
  <!-- Header fijo -->
  <div
    class="py-2 px-3 flex justify-content-between align-items-center shrink-0"
    *ngIf="authService.isLoggedIn()"
  >
    <div>
      <p-button
        (click)="sidebarVisible = true"
        aria-label="Open menu"
        icon="pi pi-bars"
        class="lg:hidden block"
      >
      </p-button>
    </div>
    <div>
      <img src="assets/images/logo.png" alt="Logo" class="w-4rem" />
    </div>
    <div class="">
      <p>SA</p>
    </div>
  </div>

  <!-- Contenedor principal (sidebar + contenido) -->
  <div class="flex flex-1 min-h-0">
    <!-- Sidebar fijo -->
    <aside
      class="min-w-17rem max-w-17rem h-full hidden lg:block shrink-0"
      *ngIf="authService.isLoggedIn()"
    >
      <app-menu-component></app-menu-component>
    </aside>

    <!-- Sidebar Drawer (móvil) -->
    <p-drawer
      [(visible)]="sidebarVisible"
      header="Menu"
      position="left"
      [modal]="true"
    >
      <app-menu-component></app-menu-component>
    </p-drawer>

    <!-- Main scrollable -->
    <main class="flex-1 p-3 overflow-auto bg-indigo-50 min-h-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
