.quick-access {
  ::ng-deep .p-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
  }
  
  ::ng-deep .p-card-body {
    padding-top: 0 !important;
  }
  
}