<!-- Bienvenida -->
<h2 class="mb-4 text-2xl font-semibold">
  Bienvenido, {{ (userRole() || 'usuario') | roleLabel }}
</h2>

<p class="text-gray-500 mb-4">
  Aquí encontrarás tus accesos rápidos e información importante.
</p>

<!-- Accesos rápidos -->
<div class="grid quick-access">
  <div *ngFor="let acc of accesses()" class="col-12 lg:col-6">
    <ng-container
      *ngIf="!(isStudentCertificate(acc) && loadingStudentCertificate()); else loadingCard"
    >
      <p-card
        [header]="acc.label"
        [subheader]="acc.description"
        [style]="{ cursor: 'pointer' }"
        (click)="acc.route ? navigate(acc.route) : acc.action?.()"
        class="quick-card"
      >
        <ng-template #header>
          <i [class]="acc.icon + ' text-5xl text-primary'"></i>
        </ng-template>
      </p-card>
    </ng-container>

    <ng-template #loadingCard>
      <p-card
        header="Generando certificado..."
        subheader="Por favor esperá unos segundos"
        class="quick-card loading-card"
      >
        <div class="card-content">
          <div class="loader-spinner"></div>
        </div>
      </p-card>
    </ng-template>
  </div>
</div>
