<div class="flex flex-column align-items-center pb-4 m-w-custom">
  <!-- onIcon="pi pi-lock" -->

  <p-togglebutton
    [ngModel]="activateInputs()"
    (ngModelChange)="activateInputs.set($event)"
    onLabel="Editar"
    offLabel="Editar"
    onIcon="pi pi-lock"
    offIcon="pi pi-lock-open"
    class="w-36 mb-4"
    ariaLabel="Toggle edit mode"
  ></p-togglebutton>

  <form class="flex flex-column gap-3 mb-3 relative">
    <div class="flex gap-3 w-full flex-column md:flex-row">
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="name"
          [(ngModel)]="userData().name"
          name="name"
        />
        <label for="name">Nombre</label>
      </p-iftalabel>

      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="lastName"
          [(ngModel)]="userData().lastName"
          name="lastName"
        />
        <label for="lastName">Apellido</label>
      </p-iftalabel>
    </div>

    <div class="flex gap-3 w-full flex-column md:flex-row">
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="email"
          type="email"
          [(ngModel)]="userData().email"
          name="email"
        />
        <label for="email">Email</label>
      </p-iftalabel>
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="cuil"
          [(ngModel)]="userData().cuil"
          name="cuil"
        />
        <label for="cuil">CUIL</label>
      </p-iftalabel>
    </div>

    <div class="flex gap-3 w-full flex-column md:flex-row relative">
      <p-inputgroup>
        <p-inputgroup-addon>
          <p-button
            label="{{userInfo().documentType}}"
            severity="secondary"
            variant="text"
            [disabled]="!activateInputs()"
            (click)="menu.toggle($event)"
          />
        </p-inputgroup-addon>
        <p-iftalabel>
          <input
            [disabled]="!activateInputs()"
            class="w-full"
            pInputText
            id="docValue"
            [(ngModel)]="userInfo().documentValue"
            name="docValue"
          />
          <label for="docValue">Número de documento</label>
        </p-iftalabel>
      </p-inputgroup>

      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="phone"
          [(ngModel)]="userInfo().phone"
          name="phone"
        />
        <label for="phone">Teléfono</label>
      </p-iftalabel>
    </div>

    <div class="flex gap-3 w-full flex-column md:flex-row">
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="emergencyName"
          [(ngModel)]="userInfo().emergencyName"
          name="emergencyName"
        />
        <label for="emergencyName">Nombre contacto emergencia</label>
      </p-iftalabel>

      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="emergencyPhone"
          [(ngModel)]="userInfo().emergencyPhone"
          name="emergencyPhone"
        />
        <label for="emergencyPhone">Teléfono emergencia</label>
      </p-iftalabel>
    </div>

    <div class="flex gap-3 w-full flex-column md:flex-row">
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="sex"
          [(ngModel)]="commonData().sex"
          name="sex"
        />
        <label for="sex">Sexo</label>
      </p-iftalabel>

      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="birthDate"
          type="date"
          [(ngModel)]="commonData().birthDate"
          name="birthDate"
        />
        <label for="birthDate">Fecha de nacimiento</label>
      </p-iftalabel>
    </div>

    <div class="flex gap-3 w-full flex-column md:flex-row">
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="birthPlace"
          [(ngModel)]="commonData().birthPlace"
          name="birthPlace"
        />
        <label for="birthPlace">Lugar de nacimiento</label>
      </p-iftalabel>

      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="nationality"
          [(ngModel)]="commonData().nationality"
          name="nationality"
        />
        <label for="nationality">Nacionalidad</label>
      </p-iftalabel>
    </div>

    <h4 class="">Domicilio</h4>

    <div class="flex gap-3 w-full flex-column md:flex-row">
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="street"
          [(ngModel)]="addressData().street"
          name="street"
        />
        <label for="street">Calle</label>
      </p-iftalabel>

      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="number"
          [(ngModel)]="addressData().number"
          name="number"
        />
        <label for="number">Número</label>
      </p-iftalabel>
    </div>

    <div class="flex gap-3 w-full flex-column md:flex-row">
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="floor"
          [(ngModel)]="addressData().floor"
          name="floor"
        />
        <label for="floor">Piso</label>
      </p-iftalabel>

      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="apartment"
          [(ngModel)]="addressData().apartment"
          name="apartment"
        />
        <label for="apartment">Departamento</label>
      </p-iftalabel>
    </div>

    <div class="flex gap-3 w-full flex-column md:flex-row">
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="neighborhood"
          [(ngModel)]="addressData().neighborhood"
          name="neighborhood"
        />
        <label for="neighborhood">Barrio</label>
      </p-iftalabel>

      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="locality"
          [(ngModel)]="addressData().locality"
          name="locality"
        />
        <label for="locality">Localidad</label>
      </p-iftalabel>
    </div>

    <div class="flex gap-3 w-full flex-column md:flex-row">
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="province"
          [(ngModel)]="addressData().province"
          name="province"
        />
        <label for="province">Provincia</label>
      </p-iftalabel>

      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="postalCode"
          [(ngModel)]="addressData().postalCode"
          name="postalCode"
        />
        <label for="postalCode">Código Postal</label>
      </p-iftalabel>
    </div>

    <div class="flex gap-3 w-full flex-column md:flex-row">
      <p-iftalabel class="w-full">
        <input
          [disabled]="!activateInputs()"
          class="w-full"
          pInputText
          id="country"
          [(ngModel)]="addressData().country"
          name="country"
        />
        <label for="country">País</label>
      </p-iftalabel>
    </div>
  </form>
  <p-menu #menu [model]="docTypes" popup class="docTypeMenu" />
  <div class="flex gap-2 align-self-center">
    <p-button
      label="Restaurar"
      icon="pi pi-refresh"
      severity="danger"
      (click)="restoreOriginal()"
    />
    <p-button
      label="Guardar cambios"
      icon="pi pi-save"
      (click)="checkForChanges()"
    />
  </div>
</div>

<p-dialog
  header="Confirmar cambios"
  [visible]="showConfirmDialog()"
  closable="false"
  [modal]="true"
>
  <p *ngIf="modifiedFields().length === 0">No se detectaron cambios.</p>
  <p *ngIf="modifiedFields().length > 0" class="font-semibold">
    Cambios detectados:
  </p>
  <ul *ngIf="modifiedFields().length > 0" class="list-none">
    <li *ngFor="let field of modifiedFields()">{{ field | fieldLabel }}</li>
  </ul>

  <ng-template pTemplate="footer">
    <p-button
      label="Cancelar"
      icon="pi pi-times"
      (click)="showConfirmDialog.set(false)"
      severity="warn"
    />
    <p-button
      *ngIf="modifiedFields().length !== 0"
      label="Confirmar"
      icon="pi pi-check"
      (click)="submitChanges()"
    />
  </ng-template>
</p-dialog>
