@use "primeicons/primeicons.css";
@use "primeflex/primeflex.css";
/* Estilos de Quill para el editor de texto (necesarios para toolbar y layout) */
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.m-w-custom {
  max-width: 768px !important;
  margin: auto;
}

@media (min-width: 1200px) {
  .m-w-custom {
    max-width: 1000px !important;
    margin: auto;
  }
}
