<div class="m-w-custom">
  <p-table
    #dt
    [value]="getVisibleRows()"
    [paginator]="true"
    [rows]="10"
    responsiveLayout="scroll"
    [globalFilterFields]="['name', 'lastName', 'cuil', 'email', 'role']"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between align-items-center">
        <div class="flex gap-2">
          <p-button
            label="Limpiar filtros"
            [outlined]="true"
            icon="pi pi-filter-slash"
            (click)="clear(dt, filterInput)"
          ></p-button>
        </div>

        <div class="flex gap-3 align-items-center">
          <input
            pInputText
            #filterInput
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Nombre, email o CUIL"
          />
          <p-select
            *ngIf="roleFilterEnabled"
            [options]="[
              { label: 'Todos', value: null },
              { label: 'Alumno', value: 'student' },
              { label: 'Docente', value: 'teacher' },
              { label: 'Preceptor', value: 'preceptor' },
              { label: 'Secretario', value: 'secretary' },
              { label: 'Director', value: 'director' },
              { label: 'Admin', value: 'admin' }
            ]"
            [(ngModel)]="selectedRole"
            (onChange)="
              dt.filter(
                $event.value,
                'role',
                $event.value ? 'equals' : 'contains'
              )
            "
            placeholder="Filtrar por rol"
            [showClear]="true"
          >
          </p-select>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>DNI/CUIL</th>
        <th>Rol</th>
        <th style="width: 260px">Acciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr (click)="rowClick.emit(user)">
        <td>{{ user.name }} {{ user.lastName }}</td>
        <td>{{ user.cuil }}</td>
        <td>{{ user.role | roleLabel }}</td>

        <td class="flex gap-2 justify-content-start align-items-center">
          <ng-container *ngFor="let action of getRowActions(user)">
            <p-button
              [icon]="action.icon"
              (click)="onActionClick(action, user); $event.stopPropagation()"
              [pTooltip]="action.hint || action.label"
              tooltipPosition="bottom"
              [disabled]="action.disabled"
            />
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
