<div
  class="py-2 px-4 md:px-6 flex justify-content-between align-items-center shrink-0"
  *ngIf="authService.isLoggedIn()"
>
  <!-- Botón hamburguesa -->
  <div>
    <p-button
      (click)="openSidebar()"
      aria-label="Abrir menú"
      icon="pi pi-bars"
      class="lg:hidden block"
    ></p-button>
  </div>

  <!-- Logo -->
  <div>
    <img src="assets/images/logo.png" alt="Logo" class="w-4rem" />
  </div>

  <!-- Usuario y menú -->
  <div
    class="flex align-items-center gap-2 cursor-pointer p-2 px-3 user-trigger"
    (click)="menu.toggle($event); this.isMenuOpen = !this.isMenuOpen;"
  >
    <span class="user-avatar flex align-items-center justify-content-center">
      <i class="pi pi-user"></i>
    </span>
    <div class="flex flex-column line-height-1">
      <p class="m-0 user-name">{{ userName }}</p>
      <small class="m-0 text-color-secondary" *ngIf="userRoleLabel">{{
        userRoleLabel
      }}</small>
    </div>
    <p
      [class.pi-angle-down]="!isMenuOpen"
      [class.pi-angle-up]="isMenuOpen"
      class="pi text-lg"
    ></p>
  </div>
</div>
<p-menu
  #menu
  [model]="items"
  [popup]="true"
  class="navbar"
  (onHide)="isMenuOpen = false"
/>
