::ng-deep .first-password-modal {
  .p-dialog-header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--surface-border);
  }

  .p-dialog-content {
    padding: 1.5rem;
  }

  .p-dialog-footer {
    padding: 1.5rem;
    border-top: 1px solid var(--surface-border);
  }
}
